packages
/.vs/analytics/v14/.suo
/.vs/config/applicationhost.config
/analytics.v12.suo
/analytics/Global.asax
/analytics/Global.asax.cs
/analytics/Web.Debug.config
/analytics/Web.Release.config
/analytics/Web.config
/analytics/analytics.csproj
/analytics/analytics.csproj.user
/analytics/bin/EntityFramework.SqlServer.dll
/analytics/bin/EntityFramework.SqlServer.xml
/analytics/bin/EntityFramework.dll
/analytics/bin/EntityFramework.xml
/analytics/bin/FluentNHibernate.dll
/analytics/bin/FluentNHibernate.pdb
/analytics/bin/FluentNHibernate.xml
/analytics/bin/Iesi.Collections.dll
/analytics/bin/Iesi.Collections.xml
/analytics/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/analytics/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/analytics/bin/Microsoft.Web.Infrastructure.dll
/analytics/bin/NHibernate.dll
/analytics/bin/NHibernate.xml
/analytics/bin/Newtonsoft.Json.dll
/analytics/bin/Newtonsoft.Json.xml
/analytics/bin/System.Web.Helpers.dll
/analytics/bin/System.Web.Helpers.xml
/analytics/bin/System.Web.Mvc.dll
/analytics/bin/System.Web.Mvc.xml
/analytics/bin/System.Web.Razor.dll
/analytics/bin/System.Web.Razor.xml
/analytics/bin/System.Web.Webpages.Deployment.dll
/analytics/bin/System.Web.Webpages.Deployment.xml
/analytics/bin/System.Web.Webpages.Razor.dll
/analytics/bin/System.Web.Webpages.Razor.xml
/analytics/bin/System.Web.Webpages.dll
/analytics/bin/System.Web.Webpages.xml
/analytics/bin/analytics.dll
/analytics/bin/analytics.dll.config
/analytics/bin/analytics.pdb
/analytics/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
/analytics/bin/roslyn/Microsoft.CSharp.Core.targets
/analytics/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
/analytics/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
/analytics/bin/roslyn/Microsoft.CodeAnalysis.dll
/analytics/bin/roslyn/Microsoft.VisualBasic.Core.targets
/analytics/bin/roslyn/System.Collections.Immutable.dll
/analytics/bin/roslyn/System.Reflection.Metadata.dll
/analytics/bin/roslyn/VBCSCompiler.exe
/analytics/bin/roslyn/VBCSCompiler.exe.config
/analytics/bin/roslyn/csc.exe
/analytics/bin/roslyn/vbc.exe
/analytics/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/analytics/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/analytics/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/analytics/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/analytics/obj/Debug/analytics.csproj.FileListAbsolute.txt
/analytics/obj/Debug/analytics.csprojResolveAssemblyReference.cache
/analytics/obj/Debug/analytics.dll
/analytics/obj/Debug/analytics.pdb
/analytics/packages.config
